# Folder view configuration files
.DS_Store
.DS_Store?
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
ehthumbs.db

# Vim swap files.
.swp

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files that end in tilde (text backups on Linux)
*.*~
